*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder{
    color: white;
    opacity: 0.5;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-image: radial-gradient(#711c91 0.05%, rgb(44, 41, 41) 90%);
}
button:hover{
    background-color: #711c91;
    border: 1px solid #711c91;
    color: white;
}