
.login-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 35%;
    transform: translate(-50%, -40%);
    top: 40%; 
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 65%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(22, 21, 21) 30%, #711c91);
}

h1{
    margin-bottom: 10%;
    font-size: 40px;
}
h3{
    margin: 10px 0 10px 0;
}

p{
    margin: 10px 0 20px 0;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
}
p:hover{
    color:#711c91;
}
button{
    margin-bottom: 10px;
    width: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    height: 24px;
    color: white;
    font-size: 16px;
}

input{
    width: 50%;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    margin-bottom: 10px;
    background-color: transparent;
    color: 	#fffff4;
}
